@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-light-green: 148deg 38% 91%;
    --color-medium-green: 169deg 82% 27%;

    --color-red: 0deg 66% 54%;
    --color-white: 0deg 0% 100%;

    --color-medium-grey: 186deg 15% 59%;
    --color-dark-grey: 187deg 24% 22%;
  }
}

body {
  @apply bg-light-green font-karla;
}

.input {
  @apply mt-1 w-full block px-3 py-2 border rounded-md shadow-sm focus:outline-none focus:border-medium-green sm:text-sm;
}
